#about-section{
    min-height: 100vh;
    background-color: rgb(49, 49, 49);
}

.about-container{
    padding-top: 14rem;
    font-size: 1.1rem;
}

.traits{
    margin-top: 10rem;
}

.icon{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    transform: rotate(45deg);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
}

.icon-wrap i{
    font-size: 2rem;
}

.icon-wrap + p > b{
    color: orange;
}

#about-section h1 i{
    color: rgb(223, 114, 74);
}

.icon-wrap {
    width: 100px;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 150px;
  }
  
  .icon-wrap > div {
    background: rgb(34, 34, 34);
    color: white;
    padding: 2rem;
    border-radius: 150px;
  }

@media only screen and (max-width: 800px) {
  
    .about-container{
        padding-top: 9rem;
    }
  }

  @media only screen and (max-width: 768px) {
  
    .traits{
        margin-top: 4rem;
        text-align: center;
    }

    .traits > .row > div {
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
  }


@media only screen and (max-width: 400px) {
  
    .about-container{
        padding-top: 5rem;
    }
  }