html{
    scroll-behavior: smooth;
}

body, html{
    margin: 0 ;
    padding: 0 ;
}

body{
    background-color: rgb(34, 34, 34);
    color: white;
}

a, a > .cv-svg{
    color: rgb(255, 229, 211);
    transition: all .25s ease-out;
}

a:hover, a:hover .cv-svg{
    text-decoration: none;
    color: rgb(255, 181, 129);
    cursor: pointer;
    fill: rgb(255, 181, 129);
}

.cv-svg{
    fill:rgb(255, 229, 211);
}

.overflow-hidden{
    overflow: hidden;
}

section:nth-child(even){
    background-color: rgb(49, 49, 49);
}

section:not(:first-child){
    min-height: 100vh;
}