.project-container{
    margin-bottom: 8rem;
}

#projects-section .container{
    padding-top: 5rem;
}

.projects-header{
    margin-bottom: 5rem;
    font-size: 4rem;
}

.project-links-and-stack-container  .label{
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.label:nth-child(1){
    margin-top: 1.3rem;
}

.project-about-container h4{
    color: orange;
}

.project-image-container{
    position: relative;
    display: flex;
}

.project-container img{
   border-radius: 5px;
   position: relative;
   top:0;
   left:0;
   cursor: zoom-in;
}

.project-image-container{
    overflow: hidden;
}

.project-image-container > i{
    position: absolute;
    color: rgba(255, 208, 121, 0.8);
    font-size: 2rem;
    top: calc(50% - 1rem);
    cursor: pointer;
    transition: all .2s ease-out;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

.project-image-container > i:hover{
    color: rgba(253, 184, 56, 0.8);
}

.project-image-container > i:active{
    text-shadow: 0px 0px 1px rgba(0,0,0, 0.5);
    color: rgba(211, 152, 43, 0.8);
}

.project-image-container .fa-arrow-left{
    left: 0.5rem;
}

.project-image-container .fa-arrow-right{
    left: calc(100% - 2.5rem)
}

.play-video-showcase{
    position: absolute;
    background-color: orange;
    left:0;
    top: 85%;
    opacity: 0.8;
    min-width: 10%;
    min-height: 15%;
    cursor: pointer;
    transition: all .3s ease-out;
}

.play-video-showcase:hover{
    background-color: rgb(187, 122, 2);
    color: rgb(175, 175, 175);
}

.play-video-showcase i{
   font-size: 2rem;
}

.modal-overlay{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.6);
    z-index: 1500;
    transition: all 1s ease-out;
}

.close-modal{
    left: calc(100% - 4rem);
    top: 1.5rem;
    font-size: 3rem;
    color: white;
    position: absolute;
    cursor: pointer;
    transition: all .3s ease-out;
}

.close-modal:hover{
    color: rgb(184, 184, 184);
}

iframe{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.disabled-link{
    text-decoration: line-through;
    color: rgb(175, 175, 175);
}

.disabled-link:hover{
    text-decoration: line-through;
    color: rgb(175, 175, 175);
    cursor: default;
}

.images-in-modal{
    margin: 7rem; 
}

@media only screen and (max-width: 1500px) {
    .images-in-modal{
        margin: 3rem; 
    }
  }

  @media only screen and (max-width: 1300px) {
    .images-in-modal{
        margin: 1rem; 
    }
  }

@media only screen and (max-width: 992px) {
    .play-video-showcase{
        top:80%;
        height: 20%;
    }
  }

  @media only screen and (max-width: 768px) {
    .project-container img{
        cursor: default;
    }
  }

  @media only screen and (max-width: 600px) {
    .play-video-showcase{
        top:75%;
        height: 25%;
    }

    .projects-header{
        font-size: 3rem;
    }
  }

  @media only screen and (max-width: 576px) {
    .project-container{
        margin-bottom: 4rem;
    }
  }

  @media only screen and (max-width: 420px) {
    .play-video-showcase{
        top:63%;
        height: 37%;
    }
  }


